/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 14px/1 'Microsoft YaHei', Arial, sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.crosshair{
	cursor:crosshair !important;	
}


html{
	overflow: hidden;
}


.GooFlow {
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	user-select: none;
}

.GooFlow_head,
.GooFlow_tool,
.GooFlow_work{
	box-sizing:border-box;
}

.GooFlow_head {
	clear: both;
	height: 45px;
	background: #2483d7;
}
.GooFlow_tool {
	background: #fdfce9;
	width: 30%;
	float: left;
	border-right:1px solid #efd586;
}

.GooFlow_work {
	position: relative;
	width: 70%;
	float: right;
	overflow-y: scroll;
}
.GooFlow_workArea{
	position: absolute;
	top: 0px;
	left: 0px;
}

/*操作线相关*/
.GooFlow .GooFlow_line_oper{
	width:70px;height:15px;background-color:#D8E8FC;border:#7DA2CE 1px solid;position:absolute;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10000;
}

.GooFlow .GooFlow_line_mp{
	width:9px;height:9px;filter:Alpha(Opacity=40);-moz-opacity:0.4;opacity:0.4;overflow:hidden;
	position:absolute;z-index:9999;background:#333;cursor:crosshair
}

.GooFlow .GooFlow_line_move{filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;position:absolute;z-index:9999;background:url(0) no-repeat}
.GooFlow .GooFlow_line_oper i{display:inline-block;width:15px;height:15px;margin-left:2px;cursor:pointer}
.GooFlow .b_l1{background:url(img/GooFlow_line_oper.png) no-repeat 1px 1px}
.GooFlow .b_l2{background:url(img/GooFlow_line_oper.png) no-repeat 1px -14px}
.GooFlow .b_l3{background:url(img/GooFlow_line_oper.png) no-repeat 1px -29px}
.GooFlow .b_x{background:url(img/GooFlow_line_oper.png) no-repeat 1px -44px;margin-left:10px}

/*nav*/
.nav-tabs{
	*zoom: 1;
	background: #ffe9a3;
	border-bottom: 1px solid #efd586;
	padding-top: 5px;
}
.nav-tabs:after {
  content: "";
  display: block;
  clear: both;
}
.nav-tabs li{
	float: left;
	overflow: bottom;
}
.nav-tabs li a{
	display: block;
	margin-bottom: -1px;
	padding: 2px 36px;
	line-height: 1.5;
	color: #616161;
	margin-left: 5px;
}
.nav-tabs li a:hover{
	text-decoration: none;
}
.nav-tabs li.active a{
	color: #bf6f2f;
	background: #fdfce9;
	border: 1px solid #efd586;
	border-radius: 10px 10px 0 0 ;
	border-bottom-color: transparent;
}

.nav-cnts{
	padding: 0 15px;
}


/*控件*/
.tools-title{
	font-size: 15px;
	margin: 20px 0 0px;
	font-weight: bold;
	color: #15428B;
}
.tools-group{
	*zoom: 1;
}
.tools-group:after{
	content: "";
  	display: block;
  	clear: both;
}
.tools-group>li{
	float: left;
	width: 50%;
}

.tools{
	width: 90%;
	/*width: 100px;*/
	height: 25px;
	line-height: 22px;
	background: #eaeaea;
	margin-top: 20px;
	background-image: linear-gradient(to top, #efefef, #ffffff);
	border: 1px solid #ccc;
	border-radius: 7px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}


/*--------------组件样式---------------*/
.ui-resizable-helper{
	border: 1px dashed #8EA4C1;
	z-index: 1100;
}


.control.cur{
	z-index: 10;
	border: 1px solid #A1DCEB;
}

.control .ui-resizable-handle{
	display: none !important;
}

.control .rs_remove{
	display: none;
	position:absolute;
	right:1px;top:1px;
	width:7px;height:7px;
	overflow:hidden;
	cursor:pointer;
	background:url(../img/gooflow_tip.png) no-repeat 0px 0px
}

.control.cur .ui-resizable-handle,
.control.cur .rs_remove{
	display: block !important;
}

.control {
	font-size: 12px;
	color:rgb(21, 66, 139);
	width: 100px;
	height: 46px;
	position: absolute !important;
	cursor: default;
} 

.control-mark{
	border: 1px solid;
}




.control .text{
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}
.control .text span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.control-label{
	background: #fffd66;
	border-radius: 3px;
	box-shadow:1px 1px 2px rgba(148,170,194,2);
}









/*-----------------------------------*/





.process{
	width: 100px;
	height: 46px;
	position: absolute;
	overflow: hidden;
	/*background:#A5CFEB;*/
	/*margin: 60px;*/
}

.process .pl,
.process .pc,
.process .pr{
	float: left;
}

.process .pl{
	height: 100%;
}
.process .pl .st,
.process .pl .sd{
	width: 0;
    height: 0;
    border-left: 23px solid transparent; 
}

.process .pl .st{
    border-top: 23px solid #A5CFEB;
}
.process .pl .sd{
    border-bottom: 23px solid #A5CFEB;
}

.process .pc{
	float: left;
	width: 54px;
	height: 100%;
	background:#A5CFEB;
}

.process .pr{
	float: right;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-bottom-width:23px; 
	border-left-color: #A5CFEB;
	border-right: none;
}

.process-start .pl{
	width: 23px;
	height: 100%;
	background: #A5CFEB;
	border: none;
}

.process-end .pr{
	width: 23px;
	height: 100%;
	background: #A5CFEB;
	border: none;
}

.process .text{
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}
.process .text span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.bi,
.wi{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 23px solid #A5CFEB;
	right: -23px;
}
.wi{
	right: auto;
	border-left-color: #fff;
}




.guide{
    display: none; 
    position: absolute; 
    left: 0; 
    top: 0; 
}

#guide-h{
    border-top: 1px dashed #55f; 
    width: 100%; 
}

#guide-v{
    border-left: 1px dashed #55f; 
    height: 100%; 
}